.sys-oper-status-query-main{
    display: flex;
    flex-direction:column ;
    height: 100%;
}
.sys-oper-status-query-top{
    display: flex;
    height: 10%;
}
.sys-oper-status-query-content{
    display: flex;
    height: 90%;
    background-color: blanchedalmond;
}
.data-show{
    display: none;
}
.property-show{
    display: none;
}