.ct-collect-status-table{
    flex: 1;
    padding: 10px;
    width: 100%;
    overflow: auto;
    background-color: #eee;
}

.ct-collect-status-tabletop{
    height: calc(100% - 45px);
}
.ct-collect-status-table .ant-table-thead>tr>th{
    min-width: 90px;
}
.ct-collect-status-page{
    height: 35px;
    margin-top: 10px;
    text-align: right;
}
.ct-collect-status-modal{
    .ant-modal{
        width:50% !important;
        height: 60% !important;
        top: 20% !important;
    }
    .ant-modal-content{
        height: 100% !important;
    }
    .ant-modal-body{
        height: calc(100% - 55px) !important;
        overflow: auto;
    }
    ::-webkit-scrollbar {
        width: 7px !important;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 7px;
        background-color: #c3c1c1;
        }

}
