@bg:#c3c1c1;
.ct-history-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ct-history-div-seach{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .ant-picker-suffix{
        display: none;
    }
    .ant-btn-primary{
        background-color: #141414;
        border-color: #303030;
    }
    .ant-btn-primary:hover{
        background: #141414;
        border-color:#177ddc;
        color:#177ddc;
    }
}

.ct-history-div-seach>div{
    margin-right: 40px;
}

.ct-history-div-table{
    height: 50%;
    overflow: auto !important;
    .ant-table{
        height: 100%;
    }
    .ant-table-content,.ant-spin-container{
        height: 100%;
        width: 100%;
    }
    .ant-spin-nested-loading{
        width: 100%;
        height: 100%;
    }
    .ant-table-wrapper{
        height: 100%;
    }
    .ant-pagination,.ant-table-pagination,.ant-table-pagination-right{
        // display: none;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
        padding: 8px 8px;
        text-align: center;
    }
    .ant-table-column-sorters{
        padding: 2px 2px;
    }
    .ant-table-container{
        background: #141414;
        height: 100%;
    }
    .ant-table table{
        // min-height: 100%;
        background: #141414;
    }
    .ant-table-tbody>tr:nth-of-type(even){
        background-color: #303030;
    }
    .ant-table-body{
        min-height: calc(100% - 46px) !important;
        overflow-y: auto !important;

    }
}

div::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
div::-webkit-scrollbar-track{
    background-color: #c3c1c1;

}
div::-webkit-scrollbar-thumb{
    background-color:rgba(195,193,193, 0.35);
    border-radius: 4px;
}
div::-webkit-scrollbar-track-piece{
    background-color: #303030;
    
}
div::-webkit-scrollbar-corner{
    border-radius: 4px;
}

.clkRow{
    height: 10px;
}

.ct-history-div-table::-webkit-scrollbar {
    width: 2px !important;
}


.ct-history-div-chart{
    flex:1;
    // background-color: red;
}
.ct-history-div-seach-three{
    margin-right: 8px !important;
}


