.ct_ocm_div{
    // background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    background: url("../../../static/img/goole.png");
}

.ct_ocm_div>div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ant-model-div{
    .ant-modal-content {
        height: 600px;
        width: 900px;
    }

    .ant-btn-primary{
        background-color: #141414;
        border-color:#303030;
    }

    .ant-btn-primary:hover{
        background: #141414;
        border-color:#177ddc;
        color:#177ddc;
    }

    .ant-modal{
        left: calc(50% - 450px) !important;
        top: calc(50% - 300px) !important;
        width: auto !important;
    }

    .ant-modal-body{height: 490px;}
}