
.cy-sys-opter-detail-main{
    flex:1;
    height: 100%;
    width: 100%;
    .table-ex
        {
            flex:1;
            height: 100%;
            width: 100%;
            border-collapse: collapse;
            margin: 0 auto;
            
        }
        .tr-alarm-stauts{
            color: #52c41a;
        }
        .table-ex td, table th
        {
            border: 1px solid #303030;
            color: rgba(255, 255, 255, 0.65);
            height: 30px;
        }
        .table-ex td:first {
            width: 200px;
        }
.table-ex thead th
{
    background: #1d1d1d;
    border-bottom: 1px solid #303030;
    width: 600px;
}

.table-ex tr:nth-child(odd)
{
    background: #262626;
}
.table-ex tr:nth-child(even)
{
    background: #262626;
}
.tr-width{
    width: 120px;
    text-align: center;
}
.td-height{
    height: 300px;
}


}

